<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Animal</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <div class="container">
        <h2>Cadastrar Novo Animal</h2>
        
        <form id="form-cadastro">
            <input type="text" id="nome" placeholder="Nome do Animal" required><br>
            <input type="text" id="especie" placeholder="Espécie (Ex: cão, gato)" required><br>
            <input type="text" id="raca" placeholder="Raça" required><br>
            <textarea id="descricao" placeholder="Descrição" required></textarea><br>
            
            <label for="disponivel">Disponível para adoção?</label><br>
            <select id="disponivel" required>
                <option value="1">Sim</option>
                <option value="0">Não</option>
            </select><br><br>
            
            <button type="submit">Salvar Animal</button>
        </form>
        
        <br>
        <a href="../index.html">Voltar para Home</a>
    </div>

    <script src="../js/scriptAnimal.js"></script>
</body>
</html>