<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Realizar Adoção</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <h1>Registrar Nova Adoção</h1>
    <form id="formAdocao">
        <label>ID do Adotante:</label>
        <input type="number" id="adotanteId" required>
        
        <label>ID do Animal:</label>
        <input type="number" id="animalId" required>
        
        <label>Data:</label>
        <input type="date" id="dataAdocao" required>
        
        <button type="submit">Confirmar Adoção</button>
    </form>
    <a href="../index.html">Voltar a Home</a>

    <script src="../js/scriptAdocao.js"></script>
</body>
</html>